<!-- Facebook SDK for Javascript -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{{ fb_app_id}}',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div id="wrapper">
  <div class="container">
    <div class="main-section" style="min-height: 500px">
      <div style="margin-top: 125px;">
        <p style="font-size: 50px; color: black;"><span style="font-weight: bold; font-size: 50px; color: black;">I‘m Demi,</span> your personal </p>
        <p style="font-size: 50px; padding-top: 15px; color: black">virtual dermatologist.</p>
      </div>
      <div style='padding-top: 50px; width: 800px; margin: auto; text-align: center;'>
        <p style='font-size: 25px'>Demi catches early signs of skin diseases, and alerts your doctor.</p>
        <p style='font-weight: bold; font-size: 25px'>Chat with Demi <u style="text-decoration-color: #0084ff">today</u> in <span style="color: #0084ff">Messenger</span>.</p>
      </div>
      <div style='padding-top: 50px'>
        <div class="row">
          <div class="col-md-12">
            <center>
                <!-- Initiate chatting via the Send-To-Messenger Plugin -->
              <div class="fb-send-to-messenger"
                  messenger_app_id="{{ fb_app_id }}"
                  page_id="{{ fb_page_id }}"
                  data-ref="pandemic-legacy-test-app"
                  color="blue"
                  size="xlarge"
                  style="margin-right: -70px; padding-top: 7px;">
              </div>
            </center>
          </div>
        </div>
        <div class="row mb-30">
          <div class="col-md-12">
            <center>
                <!-- Initiate chatting via the Message-Us Plugin -->
              <div class="fb-messengermessageus"
                  messenger_app_id="{{ fb_app_id }}"
                  page_id="{{ fb_page_id }}"
                  data-ref="pandemic-legacy-test"
                  color="blue"
                  size="xlarge"
                  style="padding-top: 7px;">
              </div>
            </center>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="what-section" style="padding-top: 100px; padding-bottom: 100px;">
      <div style="max-width: 700px;">
        <div style="text-align: left;">
          <p style="font-weight: bold; font-size: 30px; color: black;">What does Demi do?</p>
          <p style="font-size: 30px;">Fight Skin Problems Before They Happen.</p>
        </div>
        <div style="text-align: left; margin-top: 30px;">
          <p style="font-size: 18px;">
            Demi is built in Facebook Messenger. Chat with Demi about your medical problem, and send a picture of the skin aberration. Demi will access the image, give you a potential diagnosis, and suggest future actions. 
          </p>
          <p style="font-size: 18px;">
            Connect Demi with your local dermatologist, and Demi can schedule an appointment when appropriate.
          </p>
        </div>
      </div>
      
      <div style="margin-top: 100px">
        <div style="display:inline-block; box-shadow: 0 0 9px 0 rgba(0,0,0,.3); text-align: center; margin: auto; width: 400px; margin-right: 20px;">
          <img src="/img/chat1.png" width=400>
        </div>

        <div style="display:inline-block; box-shadow: 0 0 9px 0 rgba(0,0,0,.3); text-align: center; margin: auto; width: 400px; margin-left: 20px;">
          <img src="/img/chat2.png" width=400>
        </div>     
      </div> 
    </div>
    <hr>
    <div class="how-section" style="padding-top: 100px; padding-bottom: 100px">
      <div style="max-width: 700px;">
        <div style="text-align: left;">
          <p style="font-weight: bold; font-size: 30px; color: black;">How does Demi work?</p>
          <p style="font-size: 30px;">Machine Learning for Healthy Skin.</p>
        </div>
        <div style="text-align: left; margin-top: 30px;">
          <p style="font-size: 18px;">
            Demi uses state-of-the-art convolutional neural nets to classify images into 1 of 23 different 
            skin diseases. Based on the confidence of our model predictions, Demi will alert you of suspicious looking moles, discolored pigments, warts, etc.
          </p>
        </div>
      </div>
      <div style="margin-top: 80px">
        <div style="text-align: center; margin: auto;">
          <img src="/img/model.png" width=700>
        </div>
      </div>
      <div style="margin-top: 20px">
        <div style="text-align: center; margin: auto;">
          <img src="/img/down-arrow.png" width=70>
        </div>
      </div>
      <div style="margin-top: 20px">
        <div>
          <img src="/img/code.png" width=500>
        </div>
      </div>
    </div>
  </div>
</div>
